.titulo{
    text-align: center;
    justify-content: center;
    background-image: url(./imagenes/fondo1.jpg);
    color: aliceblue;
}

.titulo h4{
    text-align: justify;
    margin-bottom: 0%;
    margin-left: 20%;
    margin-right: 20%;
}


.titulotour{
    text-align: center;
    justify-content: center;
    color: aliceblue;

}

.tour {
    position: relative;
    display: block;
    text-align: center;
}

.titulotour h4{
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

#texto1{
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    color: aliceblue;
}

#texto2{
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    color: aliceblue;
}

#texto3{
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    color: aliceblue;
}

.fondo2{
    background: url(./imagenes/fondo2.jpg);
}

.tour .tourmap {
    cursor: pointer;
    

}
